<head>
    <link href="PATH TO chosen.min.css" rel="stylesheet" />
</head>
<body>
    <div class="masterLayout">
        @RenderBody()
    </div>
    <script src="PATH TO chosen.jquery.min.js"></script>
    @RenderSection("scripts", required: false)
</body>