<div class="masterLayout">
    @RenderBody()
</div>

<script src="PATH TO kendo.all.min.js"></script>
<script src="PATH TO kendo.aspnetmvc.min.js"></script>
<script src="PATH TO kendo.core.js"></script>
<script src="PATH TO radius, traveltime, polygon search APIS"></script>
<script src="PATH TO JOBS API"></script>
<script src="PATH TO dropzone.min.js"></script>
<link href="PATH TO dropzone.css" rel="stylesheet" />
<link href="PATH TO chosen.min.css" rel="stylesheet" />
<link href="PATH TO kendo.common.min.css" rel="stylesheet" />
<link href="PATH TO kendo.default.min.css" rel="stylesheet" />